body{
text-align: center;
font-family: 'Questrial', sans-serif;
background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
font-size: 16px;
color:black;
transition: background-image 4s linear;;
}


h1,h2{
    
    font-size: 2rem;
    font-weight: bold;
    color:white;
}

header{
    display: flex;
    justify-content: center;
    height: auto;
    margin:20px 0;
    width: 100%;
    
    img.logo_info {
        width: 150;
    }

.submit{
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    border-radius:6px;
	border:1px solid #337fed;
    display:inline-block;
    background-color:#3d94f6;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}

form{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 75px;
}

.menu-search {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
}
.main_container{

    
    position: relative;

    @include desktop { 
    display:grid;
    grid-template-columns: 1fr 3fr 20px;
    }
}
.answer{
    width: 100%;
    height:auto;
    text-align: center;
    margin:auto;

    @include desktop {
        margin: inherit;
    }
    
    .logo_info{
        width: 200px;
    }

    
    h2{
        font-size:30px;
         padding: 10px;
         text-transform: uppercase;
    }

    p{
        margin:auto;
        width: 60%;
        padding: 20px;
        text-align: left;
        color: white;
    }


    .img_answer{
    position: absolute;
    top:0;
    width: 100%;
    height:auto;
    text-align: center;
    border:1px solid black;
    margin:auto;
    overflow: hidden;

   
    }
 
    

}
img.crhono_image {
    width: 100%;
    height: 200px;

    @include desktop{
        width: 25%;
    }
}

