body{
text-align: center;
font-family: 'Questrial', sans-serif;
background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
font-size: 16px;
color:black;
transition: background-image 4s linear;;
}


h1,h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    font-weight: bold;
    color:white;
}

header{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    margin-top:50px;
    width: 100%;
    

    h1{
        margin-right:20px};
}


.main_container{

    position: relative;
}
.answer{
    width: 100%;
    height:auto;
    text-align: center;
    margin:auto;
    

    
    h2{
        font-size:30px;
         padding: 10px;
    }

    p{
        margin:auto;
        width: 60%;
        padding: 20px;
        text-align: left;
        color: white;
    }


    .img_answer{
    position: absolute;
    top:0;
    width: 100%;
    height:auto;
    text-align: center;
    border:1px solid black;
    margin:auto;
    overflow: hidden;
 
    }

}

